
.dialog-closeButton {
    float: right;
	color: white;
    text-decoration: none;
    font-family: Arial;
    padding-right: 3px; 
    cursor: pointer;
    vertical-align: middle;
}

.dialog-closeButton:hover {
    border: 1px solid;
    border-color: gray;
    border-radius: 1px;
}

.dialog-titlebar {
    margin: 0px; 
    background-color: rgb(33, 115, 70); 
    color: white; 
    height: 22px; 
    vertical-align: middle;
}