
.toolButton {
    float: left;
	height: 20px;
    margin: 2px;
    color: rgb(33, 115, 70);
    text-decoration: none;
    font-family: Arial;
}

.toolButton:hover {
    border: 1px solid;
    border-color: gray;
    border-radius: 1px;
    background-color: whiteSmoke;
}

.toolSeparator {
    float: left;
	width : 12px;
    background-image: url(../images/spacer.gif);
    background-size: 12px 19px;
}
