.dialog-border {
	border-bottom: 1px solid #486c99;
    border-left: 1px solid #486c99;
    border-right: 1px solid #486c99;
    border-top: 1px solid #486c99;
}
.dialog-titlebar {
    color: black;
    height: 26px;
    vertical-align: middle;
    font: bold 14px tahoma,arial,verdana,sans-serif;
    background-color: #ccd8e7;
    background-repeat: repeat-x;
    width: 100%;
}
.dialog-closeButton {
    float: right;
	color: black;
    text-decoration: none;
    font-family: Arial;
    padding-right: 5px;
    padding-top: 5px;
    cursor: pointer;
    vertical-align: middle;
}
.dialog-closeButton:hover {
    border: 1px solid;
    border-color: #486c99;
    border-radius: 1px;
}

.loader {
  margin: 100px auto;
  font-size: 25px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load5 1.1s infinite ease;
  animation: load5 1.1s infinite ease;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
@-webkit-keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #363636, 1.8em -1.8em 0 0em rgba(54,54,54, 0.2), 2.5em 0em 0 0em rgba(54,54,54, 0.2), 1.75em 1.75em 0 0em rgba(54,54,54, 0.2), 0em 2.5em 0 0em rgba(54,54,54, 0.2), -1.8em 1.8em 0 0em rgba(54,54,54, 0.2), -2.6em 0em 0 0em rgba(54,54,54, 0.5), -1.8em -1.8em 0 0em rgba(54,54,54, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(54,54,54, 0.7), 1.8em -1.8em 0 0em #363636, 2.5em 0em 0 0em rgba(54,54,54, 0.2), 1.75em 1.75em 0 0em rgba(54,54,54, 0.2), 0em 2.5em 0 0em rgba(54,54,54, 0.2), -1.8em 1.8em 0 0em rgba(54,54,54, 0.2), -2.6em 0em 0 0em rgba(54,54,54, 0.2), -1.8em -1.8em 0 0em rgba(54,54,54, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(54,54,54, 0.5), 1.8em -1.8em 0 0em rgba(54,54,54, 0.7), 2.5em 0em 0 0em #363636, 1.75em 1.75em 0 0em rgba(54,54,54, 0.2), 0em 2.5em 0 0em rgba(54,54,54, 0.2), -1.8em 1.8em 0 0em rgba(54,54,54, 0.2), -2.6em 0em 0 0em rgba(54,54,54, 0.2), -1.8em -1.8em 0 0em rgba(54,54,54, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(54,54,54, 0.2), 1.8em -1.8em 0 0em rgba(54,54,54, 0.5), 2.5em 0em 0 0em rgba(54,54,54, 0.7), 1.75em 1.75em 0 0em #363636, 0em 2.5em 0 0em rgba(54,54,54, 0.2), -1.8em 1.8em 0 0em rgba(54,54,54, 0.2), -2.6em 0em 0 0em rgba(54,54,54, 0.2), -1.8em -1.8em 0 0em rgba(54,54,54, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(54,54,54, 0.2), 1.8em -1.8em 0 0em rgba(54,54,54, 0.2), 2.5em 0em 0 0em rgba(54,54,54, 0.5), 1.75em 1.75em 0 0em rgba(54,54,54, 0.7), 0em 2.5em 0 0em #363636, -1.8em 1.8em 0 0em rgba(54,54,54, 0.2), -2.6em 0em 0 0em rgba(54,54,54, 0.2), -1.8em -1.8em 0 0em rgba(54,54,54, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(54,54,54, 0.2), 1.8em -1.8em 0 0em rgba(54,54,54, 0.2), 2.5em 0em 0 0em rgba(54,54,54, 0.2), 1.75em 1.75em 0 0em rgba(54,54,54, 0.5), 0em 2.5em 0 0em rgba(54,54,54, 0.7), -1.8em 1.8em 0 0em #363636, -2.6em 0em 0 0em rgba(54,54,54, 0.2), -1.8em -1.8em 0 0em rgba(54,54,54, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(54,54,54, 0.2), 1.8em -1.8em 0 0em rgba(54,54,54, 0.2), 2.5em 0em 0 0em rgba(54,54,54, 0.2), 1.75em 1.75em 0 0em rgba(54,54,54, 0.2), 0em 2.5em 0 0em rgba(54,54,54, 0.5), -1.8em 1.8em 0 0em rgba(54,54,54, 0.7), -2.6em 0em 0 0em #363636, -1.8em -1.8em 0 0em rgba(54,54,54, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(54,54,54, 0.2), 1.8em -1.8em 0 0em rgba(54,54,54, 0.2), 2.5em 0em 0 0em rgba(54,54,54, 0.2), 1.75em 1.75em 0 0em rgba(54,54,54, 0.2), 0em 2.5em 0 0em rgba(54,54,54, 0.2), -1.8em 1.8em 0 0em rgba(54,54,54, 0.5), -2.6em 0em 0 0em rgba(54,54,54, 0.7), -1.8em -1.8em 0 0em #363636;
  }
}
@keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #363636, 1.8em -1.8em 0 0em rgba(54,54,54, 0.2), 2.5em 0em 0 0em rgba(54,54,54, 0.2), 1.75em 1.75em 0 0em rgba(54,54,54, 0.2), 0em 2.5em 0 0em rgba(54,54,54, 0.2), -1.8em 1.8em 0 0em rgba(54,54,54, 0.2), -2.6em 0em 0 0em rgba(54,54,54, 0.5), -1.8em -1.8em 0 0em rgba(54,54,54, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(54,54,54, 0.7), 1.8em -1.8em 0 0em #363636, 2.5em 0em 0 0em rgba(54,54,54, 0.2), 1.75em 1.75em 0 0em rgba(54,54,54, 0.2), 0em 2.5em 0 0em rgba(54,54,54, 0.2), -1.8em 1.8em 0 0em rgba(54,54,54, 0.2), -2.6em 0em 0 0em rgba(54,54,54, 0.2), -1.8em -1.8em 0 0em rgba(54,54,54, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(54,54,54, 0.5), 1.8em -1.8em 0 0em rgba(54,54,54, 0.7), 2.5em 0em 0 0em #363636, 1.75em 1.75em 0 0em rgba(54,54,54, 0.2), 0em 2.5em 0 0em rgba(54,54,54, 0.2), -1.8em 1.8em 0 0em rgba(54,54,54, 0.2), -2.6em 0em 0 0em rgba(54,54,54, 0.2), -1.8em -1.8em 0 0em rgba(54,54,54, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(54,54,54, 0.2), 1.8em -1.8em 0 0em rgba(54,54,54, 0.5), 2.5em 0em 0 0em rgba(54,54,54, 0.7), 1.75em 1.75em 0 0em #363636, 0em 2.5em 0 0em rgba(54,54,54, 0.2), -1.8em 1.8em 0 0em rgba(54,54,54, 0.2), -2.6em 0em 0 0em rgba(54,54,54, 0.2), -1.8em -1.8em 0 0em rgba(54,54,54, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(54,54,54, 0.2), 1.8em -1.8em 0 0em rgba(54,54,54, 0.2), 2.5em 0em 0 0em rgba(54,54,54, 0.5), 1.75em 1.75em 0 0em rgba(54,54,54, 0.7), 0em 2.5em 0 0em #363636, -1.8em 1.8em 0 0em rgba(54,54,54, 0.2), -2.6em 0em 0 0em rgba(54,54,54, 0.2), -1.8em -1.8em 0 0em rgba(54,54,54, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(54,54,54, 0.2), 1.8em -1.8em 0 0em rgba(54,54,54, 0.2), 2.5em 0em 0 0em rgba(54,54,54, 0.2), 1.75em 1.75em 0 0em rgba(54,54,54, 0.5), 0em 2.5em 0 0em rgba(54,54,54, 0.7), -1.8em 1.8em 0 0em #363636, -2.6em 0em 0 0em rgba(54,54,54, 0.2), -1.8em -1.8em 0 0em rgba(54,54,54, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(54,54,54, 0.2), 1.8em -1.8em 0 0em rgba(54,54,54, 0.2), 2.5em 0em 0 0em rgba(54,54,54, 0.2), 1.75em 1.75em 0 0em rgba(54,54,54, 0.2), 0em 2.5em 0 0em rgba(54,54,54, 0.5), -1.8em 1.8em 0 0em rgba(54,54,54, 0.7), -2.6em 0em 0 0em #363636, -1.8em -1.8em 0 0em rgba(54,54,54, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(54,54,54, 0.2), 1.8em -1.8em 0 0em rgba(54,54,54, 0.2), 2.5em 0em 0 0em rgba(54,54,54, 0.2), 1.75em 1.75em 0 0em rgba(54,54,54, 0.2), 0em 2.5em 0 0em rgba(54,54,54, 0.2), -1.8em 1.8em 0 0em rgba(54,54,54, 0.5), -2.6em 0em 0 0em rgba(54,54,54, 0.7), -1.8em -1.8em 0 0em #363636;
  }
}

.float-border {
    border-bottom: 1px solid #486c99;
    border-left: 1px solid #486c99;
    border-right: 1px solid #486c99;
    border-top: 1px solid #486c99;
}


.toolButton {
    float: left;
	height: 20px;
    margin: 2px;
    color: rgb(33, 115, 70);
    text-decoration: none;
    font-family: Arial;
}

.toolButton:hover {
    border: 1px solid;
    border-color: gray;
    border-radius: 1px;
    background-color: whiteSmoke;
}

.toolSeparator {
    float: left;
	width : 12px;
    background-image: url(../images/spacer.gif);
    background-size: 12px 19px;
}
